<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUser" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUser">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IUserEncap">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/WSService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUser" contract="WSService.IUser"
                name="WSHttpBinding_IUser" />
            <endpoint address="https://localhost/Encap.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserEncap" contract="Encap.IUserEncap"
                name="WSHttpBinding_IUserEncap" />
            <endpoint address="http://localhost:58384/BasicService.svc/BasicService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUser"
                contract="BasicService.IUser" name="BasicHttpBinding_IUser" />
        </client>
    </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true">
      <proxy autoDetect="True" usesystemdefault="True" bypassonlocal="False" proxyaddress="https://127.0.0.1:8080"/>
    </defaultProxy>
  </system.net>
</configuration>